//----------------special-container----------------
@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1550px) {
  .container {
    max-width: 1400px;
  }
}

//--------------------responsive--------------------
// Extra large devices (large desktops, 1366px and up)
@media (max-width: 1366px) {
  //general
  input.form-control{
    &::placeholder{
      font-size: $main-fontSize-13;
    }
  }
  .bootstrap-tagsinput input{
    &::placeholder{
      font-size: $main-fontSize-13;
    }
  }
  button.btn{
    font-size: $main-fontSize-13;
  }
  section{
    padding: $secPadding-13;
  }
  .section-heading{
    font-size: $heading-fontSize-13;
    margin-bottom: 20px;
  }
  .title{
    font-size: $title-fontSize-13;
  }
  p, article{
    font-size: $main-fontSize-13;
  }
  .check-square .form-check input + label{
    font-size: $main-fontSize-13;
  }
  .custom-radio label{
    line-height: 2;
    font-size: $main-fontSize-13;
  }
  .star-rating {
    line-height:32px;
  }
  .star-rating .fa-star{
    font-size: $main-fontSize-13;
  }
  .sel__placeholder{
    font-size: $main-fontSize-13;
  }
  .sel__box{
    font-size: $main-fontSize-13;
  }
  .read-more a{
    font-size: 12px;
  }
  .read-more a:after{
    font-size: 10px;
  }
  //header
  header .header .navbar .the-lists .collapse .navbar-nav .nav-item{
    margin-#{$right}: 20px;
    .nav-link{
      font-size: $nav-fontSize-13;
    }
  }
  header .header .navbar .the-lists .collapse{
    margin-bottom: 15px;
  }
  header .header .navbar .the-lists .contact-lists ul li{
    margin-#{$right}: 15px;
  }
  //footer
  footer .upper-footer{
    padding: 40px 0;
  }
  footer .lower-footer p{
    padding: 20px 0;
    font-size: $main-fontSize-13;
  }
  footer h1{
    font-size: $scd-fontSize-13;
  }
  footer .upper-footer .contact-info{
    margin-bottom: 45px;
  }
  footer .upper-footer .contact-info .single-contact i{
    font-size: 18px;
  }
  footer .upper-footer .social ul li a i{
    font-size: 40px;
  }
  footer .upper-footer .recent-news .single-news{
    margin-bottom: 20px;
  }
  footer .upper-footer .recent-news .single-news .single-news-img{
    margin-#{$right}: 20px;
  }
  //main
  .index-opening .float-find{
    padding: 50px 0;
  }
  .index-opening .float-find .find-adoctor{
    width: 450px;
  }
  .how-it-works .hiw-heading{
    margin-bottom: 30px;
  }
  .doctors .doctors-carousel{
    margin-top: 50px;
  }
  .doctors .doctors-carousel .a-doctor .a-doctor-img{
    height: 250px;
  }
  .client-faq .client-say{
    padding: 90px 70px;
  }
  .client-faq .client-say p:before{
    transform: scale(0.7);
  }
  .client-faq .client-say p:after{
    transform: rotate(180deg) scale(0.7);
  }
  .faq .accordion .card .card-header .btn:after{
    width: 20px;
    height: 20px;
  }
  .appointment .book-appointment .medical-service{
    margin-bottom: 20px;
  }
  .newsletter{
    margin-top: 50px;
    padding-top: 80px;
  }
  .contact-us .contact-block .contact-opt p{
    font-size: 18px;
  }
  .payment-price{
    font-size: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  //general
  section{
    padding: $secPadding-12;
  }
  //main
  .index-opening{
    background-size: cover;
  }
  .index-opening .float-find{
    padding: 30px 0;
  }
  .how-it-works .hiw-body .hiw-single .hiw-single-bio .section-heading{
    margin: 0;
  }
  .client-faq .client-say{
    padding: 80px 55px;
  }
  .client-faq .client-say p:before{
    transform: scale(0.6);
    top: -40px;
  }
  .client-faq .client-say p:after{
    transform: rotate(180deg) scale(0.6);
    bottom: -40px;
  }
  .client-faq .the-client h3{
    font-size: 16px;
  }
  .client-faq .the-client p{
    font-size: 12px;
  }
  .contact-us .contact-block .contact-opt{
    height: 180px;
  }
  .contact-us .contact-block .contact-opt p{
    font-size: 14px;
  }
  .doctor-profile .edit-profile .tags-wrapper .tags .tips{
    width: 100%;
    margin-#{$left}: 0;
    position: unset;
  }
  .bootstrap-tagsinput input{
    width: 100%;
    margin-#{$right}: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  //-----menu bar---
  .navbar-toggler{
    height: 25px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    border: 0;
    position: relative;
    padding: 0;
    margin: -15px 10px 10px;
    &.active {
      .top {
        transform: translateY(10px) translateX(0) rotate(45deg);
        background: $font-color;
      }
      .middle {
        opacity: 0;
        background: $font-color;
      }

      .bottom {
        transform: translateY(-10px) translateX(0) rotate(-45deg);
        background: $font-color;
      }
    }
    span {
      background: $text-grey;
      border: none;
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 10px;
      }

      &:nth-of-type(3) {
        top: 20px;
      }
    }
  }
  header .header .navbar .the-lists .collapse{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
    &:before {
      content: '';
      background: #fff;
      left: -55%;
      top: 0;
      width: 50%;
      height: 100%;
      position: absolute;
      transition: left .35s ease;
    }

    &:after {
      content: '';
      background: #fff;
      right: -55%;
      top: 0;
      width: 50%;
      height: 100%;
      position: absolute;
      transition: all .35s ease;
    }
    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }

      li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;

        &:nth-of-type(2) {
          animation-delay: .45s;
        }
        &:nth-of-type(3) {
          animation-delay: .55s;
        }
        &:nth-of-type(4) {
          animation-delay: .65s;
        }
        &:nth-of-type(5) {
          animation-delay: .75s;
        }
        &:nth-of-type(6) {
          animation-delay: .85s;
        }
      }
    }
    .overlay-menu{
      position: relative;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 100;
      ul {
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;

        li {
          display: block;
          position: relative;
          opacity: 0;
          margin-right: 0!important;
          a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            overflow: hidden;

            &:hover:after,
            &:focus:after,
            &:active:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  header .header .navbar .the-lists .collapse.open, header .header-logged .navbar .the-lists .collapse.open{
    display: block!important;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  .stopScroll{
    height: 100vh;
    overflow: hidden;
  }
  //---------------------------
  .section-para{
    width: 100%;
  }
  .special-section{
    background: $grey-light;
    input.form-control{
      border: 1px solid $border-color;
      color: $text-grey;
      &::placeholder{
        color: $text-grey;
      }
    }
    .section-heading{
      color: #2270b8;
    }
  }
  .special-section .sel .select2-container--default .select2-selection--single{
    border: 1px solid $text-grey;
  }
  .special-section .sel .select2-container--default .select2-selection--single .select2-selection__rendered, .special-section .sel .select2-container--default .select2-selection--single .select2-selection__arrow b:after{
    color: $text-grey;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border: 1px solid #fff;
  }
  .section-heading{
    text-align: center;
  }
  header .header .navbar{
    flex-wrap: nowrap;
  }
  header .header .navbar .the-lists .contact-lists{
    flex-wrap: wrap;
    .connection{
      order: 2;
      margin-#{$right}: -90px;
    }
    .register-side{
      margin-bottom: 15px;
    }
  }
  header .header .navbar .the-lists .contact-lists ul{
    flex: 100%;
    justify-content: flex-end;
  }
  .how-it-works .hiw-body .hiw-single {
    margin-bottom: 30px;
  }
  .doctors .doctors-carousel .owl-carousel .owl-nav button.owl-next, .doctors .doctors-carousel .owl-carousel .owl-nav button.owl-prev, .doctors .doctors-carousel .owl-carousel button.owl-dot{
    background: #2270b8;
  }
  .client-faq{
    .client-opinion{
      margin-bottom: 35px;
    }
  }
  .appointment:before{
    display: none;
  }
  .appointment .blue-heading p{
    text-align: center;
  }

  .appointment .book-appointment form{
    width: 100%;
    margin-bottom: 45px;
    button.btn{
      width: 100%;
    }
  }
  footer .upper-footer .social{
    display: none;
  }
  footer .lower-footer p span{
    margin: 0;
    display: block;
  }
  footer .lower-footer p{
    padding: 15px 0;
  }
  footer .upper-footer .recent-news .single-news{
    &:nth-child(-n+2){
      display: none;
    }
  }
  footer .upper-footer .contact-info .single-contact{
    margin-bottom: 30px;
  }
  .social-responsive{
    display: block;
    padding-bottom: 20px;
    ul{
      margin: 0;
      justify-content: center;
      li{
        a{
          i{
            font-size: 28px;
          }
        }
      }
    }
  }
  //---------------internals------------------
  .internals-header:after{
    background: rgba(0, 0, 0, 0.5);
  }
  .internals-header .breadcrumb-wrap{
    padding: 25px 0;
  }
  .internals-header .float-find .find-adoctor form .float-form{
    width: calc(50% - 15px);
    &:nth-child(odd){
      margin-#{$right}: 0;
    }
  }
  .internals-header .float-find .find-adoctor form .float-btn{
    width: 100%;
    .btn{
      width: 100%;
    }
  }
  .internals-header{
    input.form-control:focus, .jalendar-input input:focus{
      &::placeholder{
        color: $text-grey;
      }
    }
  }
  //---aboout-us---//
  .who-we-are .article:last-child{
    margin-bottom: 30px;
  }
  .who-we-are .embed-media .embed-video{
    height: 260px;
  }
  .faq-page .faq-content .add-question{
    padding: 20px;
  }
  .columns{
    float: unset;
    width: 100%;
  }
  .contact-us .contact-block .contact-opt{
    margin-bottom: 30px;
  }
  .contact-us .contact-block .contact-map{
    height: 400px;
  }
  .contact-info{
    margin-bottom: 20px;
  }
  .login .login-wrap .login-form{
    display: block;
  }
  .login .login-wrap .lefty, .login .login-wrap .righty, .login .login-wrap .or{
    width: 100%;
  }
  .login .login-wrap .or{
    margin: 20px 0;
    p{
      margin: 0;
    }
  }
  .login .login-wrap .login-form .btn{
    width: 100%;
  }
  .doctor-profile .doc-booking{
    display: block;
    .doc-rating{
      width: 100%;
      margin-#{$right}: 0;
      margin-bottom: 35px;
      .doc-img{
        margin: 0 auto 20px;
      }
    }
  }
  .doctor-profile .available-cal{
    .calendar{
      margin-bottom: 30px;
    }
  }
  .doctor-profile .profile-form{
    display: block;
  }
  .doctor-profile .upload-pic{
    margin: 0;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  .doctor-profile .available-time{
    form{
      margin-bottom: 35px;
    }
  }
  .profile-payment .merge-block .booking{
    margin-bottom: 35px;
  }
  .profile-payment .merge-block .booking .doc-demands .doc-info .section-heading{
    text-align: $left;
  }
  .dividers{
    margin: 0 auto;
  }
  .profile-payment .merge-block .pay-method {
    margin-bottom: 50px;
  }
  .profile-payment .merge-block .pay-method .custom-radio{
    display: flex;
    justify-content: center;
  }
  .profile-payment .merge-block .pay-method .btn{
    display: block;
    margin: 30px auto 0;
  }
  .intl-tel-input{
    width: 100%;
  }
  header .header .navbar .the-lists .contact-lists ul{
    height: auto;
  }
  header.sticky .navbar-toggler {
    margin: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .navbar-toggler{
    width: 40px;
  }
  header .header .navbar .the-lists .contact-lists .connection{
    margin-#{$right}: -40px;
  }
  .index-opening .float-find{
    padding: 0!important;
    .find-adoctor{
      width: auto!important;
    }
  }
  .newsletter{
    padding: 30px 0;
    margin-top: 0;
  }
  .newsletter .newsletter-content{
    width: auto;
  }
  .newsletter:before{
    display: none;
  }
  .newsletter .newsletter-content form{
    width: 90%;
  }
  footer .upper-footer .contact-info .single-contact{
    margin-bottom: 15px;
  }
  header .header .navbar .the-lists .contact-lists{
    .dropdown-toggle{
      i{
        width: 30px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      span{
        display: none;
      }
      &:after{
        display: none;
      }
    }
    .dropdown-menu{
      #{$right}: -17px!important;
    }
    ul li{
      margin: 0;
    }
    ul.connection li {
      margin-#{$right}: 10px;
      &:last-child{
        margin: 0;
      }
    }
  }
  header .header .navbar .the-lists .contact-lists .register-side{
    a{
      i{
        width: 30px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
    a.registration-icn{
      span{
        display: none;
      }
    }
  }
  //--------------
  header .header-logged .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-toggle .my-profile{
    width: 40px;
    height: 40px;
  }
  .appointment-page{
    .appointment-inner{
      display: flex;
      flex-wrap: wrap;
      .filtration{
        float: unset;
        width: 100%;
        order: 2;
        margin: 0;
      }
      .doctors-grid{
        float: unset;
        width: 100%;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  //general
  input.form-control, .sel{
    height: 40px;
  }
  input.form-control{
    &::placeholder{
      font-size: $main-fontSize-5;
    }
  }
  button.btn{
    height: 40px;
    min-width: 130px;
    font-size: $main-fontSize-5;
  }

  .section-heading{
    font-size: $heading-fontSize-5;
    margin-bottom: 15px;
  }
  .title{
    font-size: $title-fontSize-5;
  }
  p, article{
    font-size: $main-fontSize-5;
  }
  .check-square .form-check input + label, .custom-radio label{
    font-size: $main-fontSize-5;
  }

  .star-rating {
    line-height:32px;
  }
  .star-rating .fa-star{
    font-size: $main-fontSize-5;
  }
  .sel__placeholder{

    font-size: $main-fontSize-5;
  }
  .sel__box{
    font-size: $main-fontSize-5;
  }

  //--------------------
  header .header .navbar{
    padding-left: 0;
    padding-right: 0;
    .logo{
      .navbar-brand{
        margin: 0;
        img{
          width: 100%;
        }
      }
    }
  }
  header .header .navbar .the-lists .contact-lists .connection{
    margin-#{$right}: -35px;
  }
  header .header .navbar .the-lists .contact-lists ul li{
    margin-#{$right}: 10px;
    a{
      font-size: 14px;
    }
  }
  header .header .navbar .the-lists .contact-lists .register-side{
    margin-bottom: 10px;
  }
  .navbar-toggler{
    margin: -15px 5px 10px;
    width: 35px;
  }
  .navbar-toggler span:nth-of-type(2){
    top: 8px;
  }
  .navbar-toggler span:nth-of-type(3){
    top: 16px;
  }
  .navbar-toggler.active .top{
    transform: translateY(8px) translateX(0) rotate(45deg);
  }
  .navbar-toggler.active .bottom{
    transform: translateY(-8px) translateX(0) rotate(-45deg);
  }

  .doctors .doctors-carousel .owl-carousel .owl-nav button.owl-next, .doctors .doctors-carousel .owl-carousel .owl-nav button.owl-prev, .doctors .doctors-carousel .owl-carousel button.owl-dot{
    width: 25px;
    height: 4px;
  }
  .doctors .doctors-carousel .owl-carousel button.owl-dot.active{
    width: 25px;
    height: 8px;
  }
  .client-faq .client-say{
    padding: 50px 40px;
  }
  .client-faq .the-client{
    margin-top: 35px;
  }
  .client-faq .client-opinion{
    margin-bottom: 25px;
  }
  .doctors .doctors-carousel .a-doctor button.btn{
    margin-bottom: 30px;
  }
  .doctors .doctors-carousel .owl-carousel .owl-dots{
    margin-top: 30px;
  }
  .doctors .doctors-carousel{
    margin-top: 30px;
  }
  footer .upper-footer .recent-news, footer .upper-footer .contact-info{
    margin-bottom: 30px;
  }
  footer .lower-footer p{
    font-size: 11px;
  }
  //-------------------internals---------------------
  .internals-header .float-find .find-adoctor form .float-form{
    width: 100%;
    margin: 0;
  }
  header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu{
    right: -35px;
    min-width: 270px;
  }
  header .header-logged .dropdown.notify .dropdown-menu{
    min-width: 260px !important;
  }
  .contact-us .contact-block .contact-opt{
    height: 200px;
  }
  .login .login-wrap .righty .social-login a{
    height: 40px;
    font-size: 14px;
  }
  .sel .select2-container--default .select2-selection--single{
    height: 40px;
  }
  .sel .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 14px;
  }
  .doctor-profile .doc-booking .doc-info {
    .doc-info-head{
      display: block;
      .specialty-in{
        margin-bottom: 15px;
        .section-heading{
          text-align: $left;
        }
      }
    }
    .about-doc .about-me-block ul{
      column-count: 1;
    }
  }
  .internals-header .breadcrumb-wrap .breadcrumb .breadcrumb-item, .internals-header .breadcrumb-item + .breadcrumb-item::before{
    font-size: 14px;
  }
  .doctor-profile .edit-btns .btn{
    margin-bottom: 15px;
  }

  .profile-payment .merge-block .booking .doc-demands{
    display: block;
    .doc-img{
      margin: 0 auto 35px;
    }
    .doc-info{
      text-align: center;
    }
  }
  .profile-payment .merge-block .booking .doc-demands .doc-info .section-heading{
    text-align: center;
  }
  .payment-price{
    font-size: 14px;
  }
}

// Extra Small devices (portrait phones, less than 470px)
@media (max-width: 470px) {
  header .header .navbar .the-lists .contact-lists .connection{
    margin-right: -32px;
  }
  .navbar-toggler{
    margin: 0 0 10px 10px;
    width: 40px;
  }
  header .header .navbar .the-lists .contact-lists .register-side{
    margin-bottom: 0;
  }
  header .header .navbar .the-lists .contact-lists ul li a{
    font-size: 11px;
  }
}

//--------------------(1366 * 768)--------------------
// special for 1366 * 768 laptops
@media (max-height: 699px) {
  section{
    padding: 35px 0;
  }
  .sel .select2-container--default .select2-selection--single{
    height: 40px;
  }
  .sel .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
  }
  .sel .select2-container--default .select2-selection--single .select2-selection__arrow b:after{
    font-size: 12px;
  }
  .sel .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 14px;
  }
  .more-read{
    white-space: unset;
  }
  .doctor-profile .available-cal .reservation-time .time-wrapper .times .overflow-h .scroll-hide{
    max-height: calc((40px + 15px) * 4);
  }
  .doctor-profile .available-cal .reservation-time .time-wrapper .times .times-block{
    margin-bottom: 15px;
  }
  .payment-price{
    font-size: 14px!important;
  }
  .profile-payment .merge-block .booking .doc-demands .doc-info h5{
    font-size: 14px!important;
  }
  //---header
  header .header .navbar .logo .navbar-brand {
    height: 75px;
    img{
      height: 100%;
    }
  }
  header.sticky .logo .navbar-brand{
    height: 50px!important;
  }
  header .header .navbar .the-lists .collapse{
    margin-bottom: 0;
  }
  header .header .navbar .the-lists .contact-lists ul{
    height: 35px;
  }
  header .header .navbar .the-lists .collapse .navbar-nav .nav-item .nav-link{
    font-size: 14px;
  }
  header .header .navbar .the-lists .contact-lists ul li{
    margin-#{$right}: 15px;
  }
  header .header .navbar .the-lists .contact-lists ul li i{
    margin-#{$right}: 3px;
  }
  header .header .navbar .the-lists .contact-lists ul li a{
    font-size: 12px;
  }
  header .header-logged .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-toggle .my-profile{
    width: 35px;
    height: 35px;
  }
  header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu{
    min-width: 350px;
    padding: 25px 15px 15px;
    top: calc(100% + 1rem/2 - 4px);
  }
  header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu form .forget{
    margin-bottom: 15px;
  }
  header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu form .or p{
    font-size: 16px;
    margin: 5px 0;
  }
  .check-square .form-check input + label, header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu form .forget .forget-password{
    font-size: 12px;
  }
  .check-square .form-check input + label:before{
    width: 12px;
    height: 12px;
  }
  .check-square .form-check input:checked + label:before{
    font-size: 8px;
  }
  header .header .navbar .the-lists .contact-lists .register-side li .dropdown .dropdown-menu form .social-login a{
    font-size: 12px;
    i{
      font-size: 24px;
    }
  }
  .index-opening .float-find{
    padding: 45px 0;
  }
  .section-heading{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .title{
    font-size: 16px;
  }
  p, article{
    font-size: 12px;
  }
  .index-opening .float-find .find-adoctor{
    width: 400px;
    padding: 25px 20px;
  }
  .how-it-works .hiw-body .hiw-single .hiw-single-img{
    width: 70px;
    height: 70px;
    img{
      width: 60%;
    }
  }
  .how-it-works .hiw-body .hiw-single .hiw-single-bio a{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .how-it-works .hiw-body .hiw-single .hiw-single-bio p{
    font-size: 12px;
  }
  .doctors .doctors-carousel{
    margin-top: 50px;
  }
  .doctors .doctors-carousel .a-doctor .a-doctor-img{
    height: 240px;
  }
  .doctors .doctors-carousel .a-doctor .a-doctor-bio .doctor-info .specialty{
    font-size: 12px;
  }
  .doctors .doctors-carousel .a-doctor .a-doctor-bio .rate-price p{
    font-size: 14px;
  }
  .doctors .doctors-carousel .a-doctor button.btn{
    margin-bottom: 30px;
  }
  .client-faq .client-say p:before{
    transform: scale(0.7);
  }
  .client-faq .client-say p:after{
    transform: rotate(180deg) scale(0.7);
  }
  .client-faq .client-say{
    padding: 80px 70px;
  }
  .client-faq .the-client h3{
    font-size: 16px;
  }
  .client-faq .the-client p{
    font-size: 12px;
  }
  .appointment .book-appointment .medical-service{
    margin-bottom: 20px;
  }
  .read-more a{
    font-size: 12px;
  }
  .newsletter{
    margin-top: 50px;
    padding-top: 80px;
  }
  .star-rating{
    line-height: 20px;
  }
  .star-rating .fa-star{
    font-size: 14px;
  }
  //----form
  input.form-control, .sel{
    height: 40px;
    margin-bottom: 15px;
  }
  button.btn{
    height: 40px;
    min-width: 140px;
    font-size: 14px;
  }
  //--footer
  footer .upper-footer .contact-info{
    margin-bottom: 50px;
  }
  footer h1{
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer .upper-footer .contact-info .single-contact i{
    margin-#{$right}: 14px;
    font-size: 16px;
  }
  footer .upper-footer .social ul li a i{
    font-size: 35px;
  }
  footer .upper-footer .recent-news .single-news .single-news-img{
    width: 80px;
    height: 70px;
    margin-#{$right}: 20px;
  }
  footer .upper-footer .recent-news .single-news{
    margin-bottom: 15px;
  }
  footer .upper-footer .map .the-map{
    height: 255px;
  }
  footer .upper-footer{
    padding: 35px 0;
  }
  footer .lower-footer p{
    padding: 20px 0;
    font-size: 12px;
  }
}
