@import "_variables";
@import "_mixins";
@import "_partials";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";

///////////////////////////////////////////////

@font-face {
  font-family: 'sans-Regular';
  src: url('../webfonts/SourceSansPro-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'sans-Light';
  src: url('../webfonts/SourceSansPro-Light.otf');
  font-style: normal;
}
@font-face {
  font-family: 'sans-ExtraLight';
  src: url('../webfonts/SourceSansPro-ExtraLight.otf');
  font-style: normal;
}
@font-face {
  font-family: 'sans-Bold';
  src: url('../webfonts/SourceSansPro-Bold.otf');
  font-style: normal;
}
@font-face {
  font-family: 'sans-SemiBold';
  src: url('../webfonts/SourceSansPro-Semibold.otf');
  font-style: normal;
}

//Arabic fonts
//@font-face {
//    font-family: 'DroidKufi';
//    src: url('../fonts/DroidKufi-Regular.ttf');
//    font-weight: normal;
//    font-style: normal;
//}
//@font-face {
//    font-family: 'BalooBhaijaan';
//    src: url('../fonts/BalooBhaijaan-Regular.ttf');
//    font-weight: normal;
//    font-style: normal;
//}